<%= content_for :page_link do %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_admin_plant_path,
                :class => 'btn btn-primary pull-right', remote: true %>
<% end %>
<%= content_for :page_title, "Plants" %>

<%= render partial: "shared/advanced_search", locals: {name: "species_or_common_name_cont", html_options: {placeholder: "Species or Common Name Conts"}} %>


<table class="table table-striped" id="table-1">
  <thead>
  <tr>
    <th><%= sort_link @search, :species %></th>
    <th><%= sort_link @search, :common_name %></th>
    <th><%= sort_link @search, :direct_seedable %></th>
    <th><%= sort_link @search, :price_paid %></th>
    <th><%= sort_link @search, :level_1_price, "1-49g" %></th>
    <th><%= sort_link @search, :level_2_price, "50-499g	" %></th>
    <th><%= sort_link @search, :level_3_price, ">500g" %></th>
    <th><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @plants.each do |plant| %>
      <tr>
        <td><%= plant.species %></td>
        <td><%= plant.common_name %></td>
        <td><%= human_boolean plant.direct_seedable %></td>
        <td><%= number_to_currency plant.price_paid.to_f %></td>
        <td><%= number_to_currency plant.level_1_price.to_f %></td>
        <td><%= number_to_currency plant.level_2_price.to_f %></td>
        <td><%= number_to_currency plant.level_3_price.to_f %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_plant_path(plant), :class => 'btn btn-xs btn-primary', remote: true %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_plant_path(plant),
                      :method => :delete,
                      :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<table class="table table-striped col-md-12" id="header-fixed"></table>


<%= paginate @plants %>
