<table class="table table-bordered" id="table-1">
  <thead>

  <tr>
    <th>Lot No</th>
    <th>Botanical Name</th>
    <th>Common Name</th>
    <th>Provenance</th>
    <th>Region</th>
    <th>Qty (g)</th>
    <th>Select</th>
  </tr>
  </thead>

  <tbody>
  <% @deposits.each do |deposit| %>
      <tr>
        <td><%= deposit.display %></td>
        <td><%= deposit.plant.species %></td>
        <td><%= deposit.plant.common_name %></td>
        <td><%= deposit.lot_number.provenance %></td>
        <td><%= deposit.lot_number.region %></td>
        <td><%= [deposit.total_quantity, 0].max %></td>
        <td style="height: 100px;">
          <div>
            <%= check_box_tag "select", "", false, class: "order_item_check", "data-validate" => false %>
          </div>
          <div style="display: none;">
            <%= hidden_field_tag "order_form[order_form_items_attributes][#{deposit.id}][deposit_id]", deposit.id, "data-validate" => false, disabled: true %>
            <%= hidden_field_tag "order_form[order_form_items_attributes][#{deposit.id}][plant_id]", deposit.plant_id, "data-validate" => false, disabled: true %>
            <% if grams %>
                  <%= label_tag "Grams", "Grams" %>
                  <%= text_field_tag "order_form[order_form_items_attributes][#{deposit.id}][grams]", 0, class: "", "data-validate" => false, disabled: true %>
            <% end %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<table class="table table-striped col-md-12" id="header-fixed"></table>

<script>
    $(function () {
        $(".order_item_check").on('click', function () {
            var next_div = $(this).parent('div').next('div');
            if ($(this).is(":checked")) {
                next_div.show();
                $('html, body').animate({
                    scrollTop: next_div.offset().top - 300
                }, 750);
                next_div.find('input').attr("disabled", false)
            } else {
                next_div.hide();
                next_div.find('input').attr("disabled", true)
            }
        });
    });
</script>



