<h1>Listing people</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>Town</th>
    <th>Postcode</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.first_name %></td>
    <td><%= person.last_name %></td>
    <td><%= person.address_1 %></td>
    <td><%= person.address_2 %></td>
    <td><%= person.town %></td>
    <td><%= person.postcode %></td>
    <td><%= person.email %></td>
    <td><%= person.phone %></td>
    <td><%= person.type %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
