<h1>Listing snippets</h1>

<table>
  <tr>
    <th>Label</th>
    <th>Slug</th>
    <th>Identifier</th>
    <th>Excerpt</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @snippets.each do |snippet| %>
  <tr>
    <td><%= snippet.label %></td>
    <td><%= snippet.slug %></td>
    <td><%= snippet.identifier %></td>
    <td><%= snippet.excerpt %></td>
    <td><%= snippet.content %></td>
    <td><%= link_to 'Show', snippet %></td>
    <td><%= link_to 'Edit', edit_snippet_path(snippet) %></td>
    <td><%= link_to 'Destroy', snippet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Snippet', new_snippet_path %>
