<div class="modal-body">
  <p><strong>Deposit: </strong> <%= @object.deposit.display rescue "N/A" %></p>

  <p><strong>User: </strong> <%= @object.user.email rescue "N/A" %></p>

  <p><strong>Order #: </strong> <%= @object.line_item.order.number rescue "N/A" %></p>

  <p><strong>Qty Bank: </strong><%= @object.qty_bank.to_f %></p>

  <p><strong>Qty Consigned: </strong><%= @object.qty_consigned.to_f %></p>

  <p><strong>Qty On Hold: </strong><%= @object.qty_onhold.to_f %></p>

  <p><strong>Qty Allocated: </strong><%= @object.qty_allocated.to_f %></p>

  <p><strong>Comment: </strong><%= (@object.comment || "N/A") rescue "N/A"  %>
  </p>

  <p><strong>Created at: </strong><%= @object.created_at.to_s(:long) %></p>
</div>

<div class="modal-footer">
  <%= link_to "Cancel", "javascript:;", :class => "pull-left", :data => {:dismiss => 'modal'} %>
</div>

