<fieldset>
  <legend><%= "Customer Details" %></legend>
  <div>
    <label>Use Existing?</label>
    <br>
    <label>
      <%= radio_button_tag 'use_existing', 'yes', true, class: "toggle-radio", "data-target" => "#existing_customer_fields", "data-hide" => "#new_customer_fields", disabled: !@order.pending? %>
      Yes
    </label>
    <br>
    <label>
      <%= radio_button_tag 'use_existing', 'no', false, class: "toggle-radio", "data-target" => "#new_customer_fields", "data-hide" => "#existing_customer_fields", disabled: !@order.pending? %>
      No
    </label>
  </div>
  <br>

  <div class="col-lg-5 pad0">
    <div id="existing_customer_fields" class="field">
      <%= f.label :customer_id, "Select Customer" %>
      <br/>
      <%= f.select :customer_id, Person::Customer.all.collect { |c| [c.full_name, c.id] }, {prompt: t(:please_select)}, class: "select2", disabled: !@order.pending? %>
      <br>
      <small>Save to see customer detail changes</small>
    </div>

    <% customer = @order.customer %>

    <div id="new_customer_fields" style="display: none;">
      <%= f.fields_for :customer, @order.build_customer do |c| %>
          <strong>New Customer</strong>
          <br>
          <br>

          <div class="field">
            <%= c.label :first_name %>
            <br/>
            <%= c.text_field :first_name, disabled: !@order.pending? %>
          </div>

          <div class="field">
            <%= c.label :last_name %>
            <br/>
            <%= c.text_field :last_name, disabled: !@order.pending? %>
          </div>

          <div class="field">
            <%= c.label :address_1 %>
            <br/>
            <%= c.text_field :address_1, disabled: !@order.pending? %>
          </div>

          <div class="field">
            <%= c.label :address_2 %>
            <br/>
            <%= c.text_field :address_2, disabled: !@order.pending? %>
          </div>

          <div class="field">
            <%= c.label :town %>
            <br/>
            <%= c.text_field :town, disabled: !@order.pending? %>
          </div>

          <div class="field">
            <%= c.label :postcode %>
            <br/>
            <%= c.text_field :postcode, disabled: !@order.pending? %>
          </div>

          <div class="field">
            <%= c.label :phone %>
            <br/>
            <%= c.text_field :phone, disabled: !@order.pending? %>
          </div>

          <div class="field">
            <%= c.label :email %>
            <br/>
            <%= c.text_field :email, placeholder: "can be empty", disabled: !@order.pending? %>
          </div>

      <% end %>
    </div>

  </div>
  <div class="col-lg-5">
    <% if (customer).present? %>
        <label> Customer Info </label>
        <br/>
        <dl>
          <dd><%= customer.full_name %></dd>
          <dd><%= customer.address_1 %></dd>
          <dd><%= customer.address_2 %></dd>
          <dd><%= [customer.town, customer.postcode].delete_if(&:blank?).join(', ') %></dd>
          <dd><%= [customer.phone, customer.email].delete_if(&:blank?).join(', ') %></dd>
        </dl>
    <% end %>
  </div>
</fieldset>
<script>
    $("#new_customer_fields").find('input,select').attr('disabled', true);
</script>