<%= nested_form_for([:admin, @order]) do |f| %>
    <%= render partial: "customer_data", locals: {f: f} %>
    <br>
    <%= render partial: "line_items", locals: {f: f} %>
    <br>
    <div>
      <b><%= "Current State: #{@order.state.to_s.titleize}" %></b><br>
      <br>
      <b>Change State:</b> <br>
      <% @order.next_state_events.each do |e| %>
          <label><%= f.radio_button :state_event, e.event, checked: (f.object.state == e.to) %> <%= e.to.to_s.titleize %></label>
      <% end %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit %>  or
      <%= link_to "Back", admin_orders_path %>
    </div>
<% end %>
