<fieldset>
  <legend><%= t(:line_items) %></legend>

  <table id="line_items" class="table">
    <thead>
    <tr>
      <th>Detail</th>
      <th>Quantity</th>
      <th></th>
    </tr>
    </thead>

    <%

       deposit_options = @deposits.collect { |l|
         plant = l.plant
         if @type.eql?('seeding')
           level_1_price = level_2_price = level_3_price = Setting.direct_seeding_base_price
         else
           level_1_price, level_2_price, level_3_price = plant.level_1_price, plant.level_2_price, plant.level_3_price
         end
         ["#{l.display} - #{plant.species} - #{plant.common_name} - #{l.lot_number.provenance}", l.id, {total_quantity: l.total_quantity, level_1_price: level_1_price, level_2_price: level_2_price, level_3_price: level_3_price}]

       }
    %>
    <%= f.fields_for :line_items, f.object.line_items.blank? ? f.object.line_items.new : f.object.reload.line_items, wrapper: false do |li_form| %>
        <tr class="item_fields fields">
          <td><%= li_form.select :deposit_id, deposit_options, {}, class: "deposit_select select2", disabled: !@order.pending? %></td>
          <td>
            <%= li_form.number_field :qty, min: 0, class: "grams", disabled: !@order.pending? %>
            <br>
            <span>Total Available Qty: <span class="available_quantity"></span></span>
            <%= li_form.hidden_field :price, min: 0, class: "price", disabled: !@order.pending? %>
          </td>
          <td><%= li_form.link_to_remove("x Remove") if @order.pending? %></td>
        </tr>
    <% end %>
  </table>
  <table class="table">
    <tr>
      <td style="text-align: right; width:50%;">Total Quantity: <span class="total-quantity"></span> g</td>
      <td style="text-align: left; width:50%;">Total Price: <span class="total"></span></td>
    </tr>
  </table>
  <p><%= f.link_to_add("Add a item", :line_items, :data => {:target => "#line_items"}, class: "btn btn-sm btn-info") if @order.pending? %></p>
</fieldset>

<script type="text/javascript">
    $(function () {

        function toFixed(num, precision) {
            return (+(Math.round(+(num + 'e' + precision)) + 'e' + -precision)).toFixed(precision);
        }

        calculate_prices = function () {
            var total = 0;
            $.each($('.item_fields:visible'), function (i, el) {
                var el = $(el);
                var selected = el.find('.deposit_select').find('option:selected');
                var grams = Number(el.find('.grams').val());
                var price_field = el.find('.price');
                var av_qty_field = el.find('.available_quantity');
                av_qty_field.text(selected.attr('total_quantity'));

                var price = 0;
                if (grams > 0) {
                    if (grams < 50) {
                        price = Number(selected.attr('level_1_price')) * 0.001 * grams
                        total += price
                    }
                    else if (grams < 500) {
                        price = Number(selected.attr('level_2_price')) * 0.001 * grams
                        total += price
                    }
                    else {
                        price = Number(selected.attr('level_3_price')) * 0.001 * grams
                        total += price
                    }
                }
                price_field.val(toFixed(price, 2));
            });
            $('.total').text("$ " + toFixed(total, 2));
            total = 0;
            calculate_grams();
        };

        calculate_grams = function () {
            grams = 0;
            $.each($('.item_fields:visible'), function (i, el) {
                var el = $(el);
                grams += Number(el.find('.grams').val());
            });
            $('.total-quantity').text(grams);
        };

        $(document).on('keyup', '.grams', calculate_prices);
        $(document).on('change', '.deposit_select', calculate_prices);
        calculate_prices();
        $('#order_form').on('nested:fieldAdded', function (event) {
            calculate_prices();
            do_select2();
        });
        $('#order_form').on('nested:fieldRemoved', function (event) {
            calculate_prices();
            do_select2();
        });


    });
</script>