<h1>Listing plants</h1>

<table>
  <tr>
    <th>Species</th>
    <th>Common name</th>
    <th>Price paid</th>
    <th>Price charged</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plants.each do |plant| %>
  <tr>
    <td><%= plant.species %></td>
    <td><%= plant.common_name %></td>
    <td><%= plant.price_paid %></td>
    <td><%= plant.price_charged %></td>
    <td><%= link_to 'Show', plant %></td>
    <td><%= link_to 'Edit', edit_plant_path(plant) %></td>
    <td><%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plant', new_plant_path %>
