<h1>Listing deposits</h1>

<table>
  <tr>
    <th>Lot number</th>
    <th>Plant</th>
    <th>Date</th>
    <th>Qty bank</th>
    <th>Qty consigned</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deposits.each do |deposit| %>
  <tr>
    <td><%= deposit.lot_number_id %></td>
    <td><%= deposit.plant_id %></td>
    <td><%= deposit.date %></td>
    <td><%= deposit.qty_bank %></td>
    <td><%= deposit.qty_consigned %></td>
    <td><%= link_to 'Show', deposit %></td>
    <td><%= link_to 'Edit', edit_deposit_path(deposit) %></td>
    <td><%= link_to 'Destroy', deposit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Deposit', new_deposit_path %>
