<%= form_tag admin_spa_entries_path, method: :post, multipart: true do |f| %>
  <label for="file">
    File to Upload
  </label> 
  <%= file_field_tag "file", accept: 'xls,xlsx' %>
  </br>
  <%= submit_tag "Import sheet" %>
<% end %>

<%= content_for :page_title, "SPA entry ss #{export_to_excel_link}".html_safe %>
<br>
<br>
<%= form_tag current_url, method: :get do %>
  <%= text_field_tag :start_date, params[:start_date], class: "datepicker", placeholder: "Start date" %>  to
  <%= text_field_tag :end_date, params[:end_date], class: "datepicker", placeholder: "End date" %>
  <%= submit_tag "Search", class: "btn" %>
  <%= submit_tag "Delete", class: "btn", data: { confirm: 'Are you sure you want to delete?' } %>
<% end %>

<% unless @lot_numbers %>
  <br>
  <br>
  No data for the selected date.
<% else %>
  <table class="table-striped table-bordered marT30" id="table-1">
    <thead>
    <tr>
      <th>Created Date</th>
      <th>Collector</th>
      <th>Lot Number</th>
      <th>Date Collected</th>
      <th>Botanical Name</th>
      <th>Common Name</th>
      <th>Region</th>
      <th>Provenance</th>
      <th>Location</th>
      <th>Reference</th>
      <th>Quantity</th>
      <th>Population size/collection</th>
      <th>Comments</th>
    </tr>
    </thead>
    <tbody>
    <% @lot_numbers.each do |lot_number| %>
        <tr>
          <td><%= lot_number.created_at.strftime("%m-%d-%Y, %H:%M") rescue nil %></td>
          <td><%= Person.find(lot_number.deposits.first.collector_id).full_name rescue nil %></td>
          <td><%= lot_number.number %></td>
          <td><%= lot_number.deposits.first.date.strftime("%m-%d-%Y") rescue nil %></td>
          <td><%= lot_number.deposits.first.plant.species rescue nil %></td>
          <td><%= lot_number.deposits.first.plant.common_name rescue nil %></td>
          <td><%= lot_number.region %></td>
          <td><%= lot_number.provenance %></td>
          <td><%= lot_number.location %></td>
          <td><%= lot_number.deposits.first.reference rescue nil %></td>
          <td><%= lot_number.deposits.first.qty_bank rescue nil %></td>
          <td><%= lot_number.deposits.first.plant_population rescue nil %></td>
          <td><%= lot_number.deposits.first.comments rescue nil %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <table class="table-striped table-bordered col-md-12" id="header-fixed"></table>
<% end %>