<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
          <Cell><Data ss:Type="String">Seed Containment Sheet</Data></Cell>
      </Row>
      <Row>
      </Row>

      <Row>
        <Cell><Data ss:Type="String">Region</Data></Cell>
        <Cell><Data ss:Type="String">Lot number</Data></Cell>
        <Cell><Data ss:Type="String">Species</Data></Cell>
        <Cell><Data ss:Type="String">Common Name</Data></Cell>
        <Cell><Data ss:Type="String">Date Collected</Data></Cell>
      </Row>

      <% @deposits.each do |deposit| %>

          <% if @current_region && @current_region != deposit.lot_number.region %>
              <Row>
              </Row>
          <% end %>
          <% @current_region = deposit.lot_number.region %>
          <Row>
            <Cell><Data ss:Type="String"><%= deposit.lot_number.region %></Data></Cell>
            <Cell><Data ss:Type="String"><%= deposit.display %></Data></Cell>
            <Cell><Data ss:Type="String"><%= deposit.plant.species %></Data></Cell>
            <Cell><Data ss:Type="String"><%= deposit.plant.common_name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= format_date deposit.date %></Data></Cell>
          </Row>
      <% end %>

    </Table>

  </Worksheet>
</Workbook>