<%= content_for :page_title, "SPA Populations  #{export_to_excel_link}".html_safe %>

<div>
  <table class="table table-striped marT30" id="table-1">
    <thead>
    <tr>
      <th>SPA Name</th>
      <th>Lot Number</th>
      <th>Species</th>
      <th>Heritage</th>
      <th>Region</th>
      <th>Provenance</th>
      <th>Location</th>
    </tr>
    </thead>
    <tbody>
    <% @lot_numbers.each_with_index do |lot_number, index| %>
        <tr class="top-border <%= 'first' if index == 0 %>">
          <td><%= lot_number.spa_name %></td>
          <% if lot_number.self_heritage %>
              <% deposit = lot_number.deposits.active.last %>
              <td><%= lot_number.number %></td>
              <td> <%= deposit.plant.species rescue "" %> </td>
              <td> <%= deposit.display rescue "" %> </td>
              <td> <%= lot_number.region rescue "" %> </td>
              <td> <%= lot_number.provenance rescue "" %> </td>
              <td> <%= lot_number.location rescue "" %> </td>
          <% else %>
              <td colspan="6"><%= lot_number.number %></td>
          <% end %>
        </tr>
        <%= add_heritages(lot_number) %>
    <% end %>
    </tbody>
  </table>
  <table class="table table-striped col-md-12" id="header-fixed"></table>
  <%= paginate @lot_numbers %>
</div>
