<!-- Header
================================================== -->
<header id="header">
  <% if current_user %>
      <script>
          var started = false;
          var remaining = 20000;
          var interval = false;

          function startCounter(from) {
              $("#counter").text((from) / 1000);
              interval = setInterval(function () {
                  from = from - 1000;
                  if (from <= 0) {
                      window.location.href = '/timeout';
                  } else {
                      $("#counter").text((from) / 1000);
                  }
              }, 1000);
          }


          setInterval(function () {
              $.get('/active', function (remoteData, success) {
                  if (remoteData.remaining <= 20000 && !started) {
                      started = true;
                      $("#counterModal").modal('show');
                      if (interval) {
                          clearInterval(interval)
                      }
                      startCounter(remoteData.remaining);
                  }
                  if (success == 'success' && !remoteData.active)
                      window.location.href = '/timeout';
              });
          }, 20000);
      </script>
  <% end %>

  <!-- Main Navigation -->
  <div id="main-nav" class="navbar navbar-default">

    <!-- Container -->
    <div class="container">
      <!-- header -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="fa fa-bars fa-lg"></span>
        </button>
        <a href="/" class="navbar-brand logo">
        </a>
        <span class="tag-line" style="color: #39853d;">
          Goulburn Broken<br/>Indiginous Seedbank
        </span>
        <!-- nav-collapse -->
      </div>
      <!-- /header-->

      <!-- nav-collapse -->
      <div class="navbar-collapse collapse">
        <% if @current_user %>
            <ul class="nav navbar-nav navbar-left">
              <li><span class="email">Logged in as <span><%= @current_user.email %></span> </span></li>
            </ul>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "About GBIS", "#{root_path}#about-gbis" %>
          </li>
          <li>
            <%= link_to "Legal", "#{root_path}#seed-collection" %>
          </li>
          <li>
            <%= link_to "Placing Orders", "#{root_path}#placing-orders" %>
          </li>
          <% unless (@current_user.role.downcase == "admin" || "collector" rescue false) %>
              <li><%= link_to "Catalogue", catalogue_general_path %></li>
          <% end %>
          <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Catalogues-->
          <!--<i class="fa fa-angle-down parent-symbol"></i></a>-->
          <!--<ul class="dropdown-menu">-->
          <!--<li><%= link_to "General", catalogue_general_path %></li>-->
          <!--<li><%= link_to "SPA", catalogue_spa_path %></li>-->
          <!--</ul>-->
          <!--</li>-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Downloads
              <i class="fa fa-angle-down parent-symbol"></i></a>
            <ul class="dropdown-menu">
              <% Download.all.each do |download| %>
                <li><%= link_to download.file_name, admin_download_path(download) %></li>
              <% end %>
            </ul>
          </li>

          <%= render partial: "layouts/v2/#{(@current_user.role.downcase rescue "home")}/navbar" %>
        </ul>
        <!-- Links -->

      </div>
      <!-- /nav-collapse-->

    </div>
    <!-- /Container-->

  </div>
  <!-- /Main Navigation -->

</header>
<!-- /Header
================================================== -->

