<!-- Header
================================================== -->
<header id="header">

  <!-- Top Bar -->
  <div id="top-bar">

    <!-- Container -->
    <div class="container">

      <!--&lt;!&ndash; Left Nav &ndash;&gt;-->
      <!--<ul class="links pull-left hidden-xs">-->
      <!--<li><a href="#"><i class="fa fa-envelope"></i>support@instakolik.com</a></li>-->
      <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-user"></i>Phone: +48 880 440 110</a></li>&ndash;&gt;-->

      <!--</ul>-->
      <!--&lt;!&ndash; /Left nav &ndash;&gt;-->

      <!-- Right Nav -->
      <ul class="links pull-right no-float-xs">
        <li><a href="<%= destroy_user_session_path %>" data-method="delete"><i class="fa fa-sign-out"></i>LogOut</a>
        </li>
      </ul>
    </div>
    <!-- /Container-->

  </div>
  <!-- /Top Bar -->

  <!-- Main Navigation -->
  <div id="main-nav" class="navbar navbar-default">

    <!-- Container -->
    <div class="container">

      <!-- header -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="fa fa-bars fa-lg"></span>
        </button>
        <a href="/" class="navbar-brand logo">
        </a>
      </div>
      <!-- /header-->

      <!-- nav-collapse -->
      <div class="navbar-collapse collapse">

        <!--&lt;!&ndash; Nav Buttons &ndash;&gt;-->
        <!--<ul class="nav navbar-nav nav-buttons navbar-right">-->
        <!--<li>-->
        <!--<a class="nav-btn" href="mailto:support@seed.com"><i class="fa fa-envelope"></i><span class="xs-only">Contact</span></a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="nav-btn bg-2 top-bar-toggle" href="#top-bar" data-custom-toggle="slide" data-class="open" data-target="#top-bar"><span class="symbol"></span></a>-->
        <!--</li>-->
        <!--</ul>-->
        <!-- /Nav Buttons -->
        <!-- Links -->
        <ul class="nav navbar-nav navbar-right">

          <li><%= link_to "Catalogue", catalogue_path %></li>
          <% if current_user %>
              <li><%= link_to "Snippets", snippets_path %></li>
              <li><%= link_to "Plants", plants_path %></li>
              <li><%= link_to "Lot Numbers", lot_numbers_path %></li>
              <li><%= link_to "Orders", orders_path %></li>
              <li><%= link_to "People", people_path %></li>
              <!--<li><%= link_to "Transfers", transfers_path %></li>-->
              <li><%= link_to "FDAs", deposits_path %></li>
              <!--<li><%= link_to "Transactions", transactions_path %></li>-->
              <li>
                <a href="<%= destroy_user_session_path %>" data-method="delete"><i class="icon fa fa-sign-out"></i>Logout</a>
              </li>

          <% else %>
              <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
        <!-- Links -->

      </div>
      <!-- /nav-collapse-->

    </div>
    <!-- /Container-->

  </div>
  <!-- /Main Navigation -->

</header>
<!-- /Header
================================================== -->

