<%- model_class = Deposit -%>
<div class="page-header">
  <h1>Field Data Sheets</h1>

  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_admin_deposit_path,
              :class => 'btn btn-primary pull-right' %>
  <%= render partial: "shared/advanced_search", locals: {name: "collector_full_name_or_lot_number_number_cont", html_options: {placeholder: "Search..."}} %>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:collector) %></th>
    <th><%= "Lot Number" %></th>
    <th><%= "Species" %></th>
    <th><%= model_class.human_attribute_name(:date) %></th>
    <th><%= model_class.human_attribute_name(:qty_bank) %></th>
    <th><%= model_class.human_attribute_name(:qty_consigned) %></th>
    <th><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @deposits.each do |deposit| %>
      <tr>
        <td><%= deposit.collector.full_name %></td>
        <td><%= deposit.lot_number.number %>
          <br>
          <%= deposit.lot_number.region %>, <%= deposit.lot_number.provenance %>, <%= deposit.lot_number.location %>
          <% [deposit.lot_number.region, deposit.lot_number.provenance, deposit.lot_number.location, deposit.lot_number.spa_name].delete_if(&:blank?).join(', ') %>
        </td>
        <td><%= deposit.plant.species %></td>
        <td><%= format_date deposit.date %></td>
        <td><%= deposit.qty_bank %></td>
        <td><%= deposit.qty_consigned %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_deposit_path(deposit), :class => 'btn btn-mini btn-primary' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_deposit_path(deposit),
                      :method => :delete,
                      :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @deposits %>
