<h1>Listing transactions</h1>

<table>
  <tr>
    <th>Deposit</th>
    <th>Line item</th>
    <th>Transfer</th>
    <th>Qty deposited</th>
    <th>Qty ordered</th>
    <th>Qty transferred</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.deposit_id %></td>
    <td><%= transaction.line_item_id %></td>
    <td><%= transaction.transfer_id %></td>
    <td><%= transaction.qty_deposited %></td>
    <td><%= transaction.qty_ordered %></td>
    <td><%= transaction.qty_transferred %></td>
    <td><%= transaction.user_id %></td>
    <td><%= link_to 'Show', transaction %></td>
    <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
    <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transaction', new_transaction_path %>
