    <div class="control-group">
      <%= f.label :first_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :first_name, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :last_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :last_name, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :address_1, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :address_1, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :address_2, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :address_2, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :town, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :town, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :postcode, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :postcode, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :phone, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :phone, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :type, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :type, [["Customer", "Person::Customer"], ["Collector", "Person::Collector"]] %>
      </div>
    </div>

    <%= hidden_field_tag :type_cont, (params[:q][:type_cont] rescue "") %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  admin_people_path, :class => 'btn' %>
    </div>
