<div class="modal-body">
<%= render_errors @object %>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address_1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address_2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :town, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :town, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :postcode, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :postcode, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <% if @object.email == "" || @object.email == nil %>
        <%= f.email_field :email, :class => 'text_field', placeholder: "can be empty" %>
      <% else %>
        <%= f.email_field :email, :class => 'text_field', placeholder: "can be empty",:readonly => true %>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group hide">
    <%= f.label :type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :type, [["Customer", "Person::Customer"], ["Collector", "Person::Collector"]] %>
    </div>
  </div>

  <%= hidden_field_tag :type, (params[:q][:type_cont] rescue "") %>   <br>
</div>
<div class="modal-footer">
  <%= link_to "Cancel", admin_people_path(q: {type_cont: @type}), :class => "pull-left", :data => {:dismiss => 'modal'} %>
  <%= f.submit "Save", :class => 'btn btn-primary' %>
</div>
