<%- model_class = Person -%>

<%= content_for :page_link do %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_admin_person_path(type: @type), remote: true,
                :class => 'btn btn-primary pull-right' %>
<% end %>
<%= content_for :page_title, (@type + "s" rescue "People") %>
<%= content_for :page_title, "#{export_to_excel_link}".html_safe %>
<%= render partial: "shared/advanced_search", locals: {name: "full_name_cont", html_options: {placeholder: "Search..."}} %>

<table class="table table-striped marT30" id="table-1">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:first_name) %></th>
    <th><%= model_class.human_attribute_name(:last_name) %></th>
    <th><%= "Address" %></th>
    <th><%= model_class.human_attribute_name(:town) %></th>
    <th><%= model_class.human_attribute_name(:postcode) %></th>
    <th><%= model_class.human_attribute_name(:email) %></th>
    <th><%= model_class.human_attribute_name(:phone) %></th>
    <th><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @people.each do |person| %>
      <tr>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.address_1 %>
          <br><%= person.address_2 %>
        </td>
        <td><%= person.town %></td>
        <td><%= person.postcode %></td>
        <td><%= person.email %></td>
        <td><%= person.phone %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_person_path(person, q: {type_cont: (params[:q][:type_cont] rescue "")}), remote: true, :class => 'btn btn-xs btn-primary' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_person_path(person, q: {type_cont: (params[:q][:type_cont] rescue "")}),
                      :method => :delete,
                      :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<table class="table table-striped col-md-12" id="header-fixed"></table>
<%= paginate @people %>


