<table class="table table-bordered">
  <tr>
    <th colspan="4">Details</th>
  </tr>

  <tr>
    <th colspan="2">Date</th>
    <td colspan="2"><%= format_date order_form.created_at %></td>
  </tr>

  <tr>
    <th colspan="2">Business Name</th>
    <td colspan="2"><%= order_form.business_name %></td>
  </tr>

  <tr>
    <th colspan="2">Postal Address</th>
    <td colspan="2"><%= order_form.property_address %></td>
  </tr>

  <tr>
    <th colspan="2">Payee Name</th>
    <td colspan="2"><%= order_form.payee_name %></td>
  </tr>

  <tr>
    <th colspan="2">Payee Phone/Email</th>
    <td colspan="2"><%= order_form.payee_number %></td>
  </tr>

  <tr>
    <th colspan="2">Payee Address</th>
    <td colspan="2"><%= order_form.payee_address %></td>
  </tr>

  <tr>
    <th colspan="2">Contact Person</th>
    <td colspan="2"><%= order_form.officer_name %></td>
  </tr>

  <tr>
    <th>Telephone</th>
    <td><%= order_form.telephone %></td>
    <th>Mobile</th>
    <td><%= order_form.mobile %></td>
  </tr>

  <tr>
    <th colspan="2">PON</th>
    <td colspan="2"><%= order_form.pon %></td>
  </tr>

  <tr>
    <th colspan="2">Comments</th>
    <td colspan="2"><%= order_form.comments %></td>
  </tr>


</table>
<% unless (hide_items rescue false) %>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th colspan="4">Item(s)</th>
      </tr>
      <tr>
        <th>Lot No</th>
        <th>Botanical Name</th>
        <th>Provenance</th>
        <th>Grams</th>
      </tr>
      </thead>
      <tbody>
      <% order_form.items.each do |item| %>
          <% deposit = item.deposit %>
          <tr>
            <td><%= deposit.display %></td>
            <td><%= deposit.plant.species %></td>
            <td><%= deposit.lot_number.provenance %></td>
            <td><%= item.grams || "-" %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>




