<%= form_for [:admin, @lot_number], validate: false, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="modal-body">
      <div class="control-group">
        <%= f.label :number, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :number, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :region, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :region, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :provenance, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :provenance, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :location, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :location, :class => 'text_field' %>
        </div>
      </div>


      <div class="control-group">
        <%= f.label :heritage_ids, "Heritage Lot Numbers", :class => 'control-label' %>
        <div class="field">
          <div class="multiselect">
            <% @lot_numbers = LotNumber.where("id != ?", (@lot_number.id || -1)) %>
            <% heritage_ids = f.object.heritage_ids %>
            <label class="check_header"><%= check_box_tag :select_all, 1, (heritage_ids.count == @lot_numbers.count), class: "all_check_toggle" %>
              Select All</label>
            <% @lot_numbers.each do |l| %>
                <label>
                  <%= f.check_box :heritage_ids, {multiple: true, :checked => heritage_ids.include?(l.id)}, l.id, nil %> <%= l.display %>
                </label>
            <% end %>
          </div>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :spa_name, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :spa_name, :class => 'text_field' %>
        </div>
      </div>


      <div class="control-group">
        <%= f.label :spa_specific, :class => 'control-label' %>
        <div class="controls">
          <label>
            <%= f.radio_button :spa_specific, true %>  Yes
          </label>

          <label>
            <%= f.radio_button :spa_specific, false %> No
          </label>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <%= link_to "Cancel", admin_lot_numbers_path, :class => "pull-left", :data => {:dismiss => 'modal'} %>
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
<% end %>


<style type="text/css">

    .multiselect {
        height: 15em;
        border: solid 1px #c0c0c0;
        overflow: auto;
        padding: 3px;
        width: 281px;
    }

    .multiselect label {
        display: block;
    }

    .multiselect-on {
        color: #ffffff;
        background-color: #000099;
    }

    .multiselect label.check_header {
        margin-top: 5px;
        padding-bottom: 8px;
        border-bottom: 1px solid #ccc;
    }
</style>