<%- model_class = LotNumber -%>
<%= content_for :page_link do %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_admin_lot_number_path,
                :class => 'btn btn-primary pull-right', remote: true %>
<% end %>
<%= content_for :page_title, "Lot Numbers" %>

<%= search_form_for [:admin, @search] do |f| %>
    <%= f.text_field "number_eq", placeholder: "Number" %> and
    <%= f.text_field "region_or_spa_name_or_location_or_provenance_cont", placeholder: "Region, SPA name etc." %>
    <%= (f.hidden_field :type_cont) rescue "" %>
    <%= f.submit "Search", class: "btn btn-sm" %>
<% end %>

<table class="table table-striped marT30" id="table-1">
  <thead>
  <tr>
    <th><%= sort_link @search, :number %></th>
    <th><%= "SPA Name" %></th>
    <th><%= "Heritage Lot Numbers" %></th>
    <th><%= model_class.human_attribute_name(:region) %></th>
    <th><%= model_class.human_attribute_name(:provenance) %></th>
    <th><%= model_class.human_attribute_name(:location) %></th>
    <th><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @lot_numbers.each do |lot_number| %>
      <tr>
        <td><%= lot_number.number %></td>
        <td><%= (lot_number.spa_name.blank? ? "NA" : lot_number.spa_name) %></td>
        <td><%= lot_number.heritage_lot_numbers %></td>
        <td><%= lot_number.region %></td>
        <td><%= lot_number.provenance %></td>
        <td><%= lot_number.location %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_lot_number_path(lot_number), :class => 'btn btn-xs btn-primary', remote: true %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_lot_number_path(lot_number),
                      :method => :delete,
                      :data => {:confirm => "All connected FDAs will be deleted. Are you sure?"},
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<table class="table table-striped col-md-12" id="header-fixed"></table>

<%= paginate @lot_numbers %>

