<!DOCTYPE html>
<html>
<head>
  <%= render partial: "layouts/v2/head" %>
</head>
<body>
<!-- Page Wrapper
================================================== -->
<div id="page-wrapper" class="wide">

  <%= render partial: "layouts/v2/navbar" %>

  <% if content_for? :content_block %>
      <%= yield :content_block %>
  <% else %>
      <section class="page-info-block">
        <!-- Container -->
        <div class="container">
          <!-- Page Info -->
          <div class="page-info clearfix usermenu">
            <h3 style="color: white;">
              <%= yield :page_title %>
              <small class="pull-right" style=" margin-bottom: 15px; "><%= yield :page_link %></small>
            </h3>
          </div>
          <!-- /Page-info -->
        </div>
        <!-- /Container -->
      </section>
      <!-- Content Block -->
  <% end %>
  <%= yield :up_sections %>

  <section class="content-block default-bg" style="min-height: 768px">
    <!-- Container -->
    <div class="container">
      <div class="flash-container">
        <%= v2_bootstrap_flash %>
      </div>
      <%= yield %>
    </div>
    <!-- /Container -->
  </section>
  <!-- /Content Block
  ================================================== -->

  <%= yield :bottom_sections %>

  <a id="back_to_top" href="#" class="on">
			<span class="fa-stack">
				<i class="fa fa-arrow-up" style=""></i>
			</span>
  </a>

  <%= render partial: "layouts/v2/footer" %>

  ================================================== -->

</div>
<!-- /Page Wrapper
================================================== -->

<style type="text/css">
    #page-wrapper, .wide, .container {
        min-width: 1024px !important;
    }
</style>

<%= render partial: "layouts/v2/default_modal" %>
<%= yield :modal %>
</body>
</html>


