<!DOCTYPE html>
<html>
<head>
  <%= render partial: "layouts/v2/head" %>
</head>
<body>
<!-- Page Wrapper
================================================== -->
<div id="page-wrapper" class="wide">

  <%= render partial: "layouts/v2/navbar" %>

  <% if content_for? :content_block %>
      <%= yield :content_block %>
  <% else %>
      <section class="page-info-block">
        <!-- Container -->
        <div class="container">
          <!-- Page Info -->
          <div class="page-info clearfix usermenu" style="padding-bottom: 0px !important;">
            <ul class="menu account-pages pull-right">
              <%= yield :sub_menu %>
            </ul>

            <h3 style="text-align: center;">
              <%= yield :page_title %>
            </h3>
          </div>
          <!-- /Page-info -->
        </div>
        <!-- /Container -->
      </section>
      <!-- Content Block -->
  <% end %>
  <%= yield :up_sections %>

  <section class="content-block default-bg" style="min-height: 768px">
    <!-- Container -->
    <div class="container">
      <div class="flash-container">
        <%= bootstrap_flash %>
      </div>
      <%= yield %>
    </div>
    <!-- /Container -->
  </section>
  <!-- /Content Block
  ================================================== -->

  <%= yield :bottom_sections %>


  <%= render partial: "layouts/v2/footer" %>

  ================================================== -->

</div>
<!-- /Page Wrapper
================================================== -->


<%= render partial: "layouts/v2/default_modal" %>
<%= yield :modal %>
</body>
</html>


